@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oswald:400,700');

body{
  font-size: 16px;
  font-family: 'Droid Serif', sans-serif;
}

a{
  color:#ccc;
}

a:visited{
  color:blue;
}

a:hover{
  color: #black;
}

a:active{
  color:#ddd;
}

#container{
  max-width: 960px;
  margin: 0 auto;
}

main{
  position: relative;
}

section{
  width:470px;
}

#left-col{
  position: absolute;
  top:0;
  left:0;
  padding-right: 10px;
  margin-right: 9px;
  border-right: 1px solid #000;
}

#right-col{
  position: absolute;
  top:0;
  right:0;
}

footer{
  overflow: auto;
}

h1,h2{
  font-size: 20px;
  font-family: 'Oswald', 400, sans-serif;
}
