@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oswald:400,700');

body{
  font-size: 16px;
  font-family: 'Droid Serif', sans-serif;
}

a{
  color:#ccc;
}

a:visited{
  color:blue;
}

a:hover{
  color: #ddd;
}

a:active{
  color:black;
}

#container{
  max-width: 960px;
  margin: 0 auto;
}
